.woman {
  background-image: url("https://cleancreations.com/data/customfiles/section8.png");
  width: 100%;
  height: 100%;
  background-size: 410px 300px;
  background-position: right;
  background-repeat: no-repeat;
  padding: 100px;
}
.learn {
  background-color: #8fd445;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
}

@media screen and (max-width: 550px) {
  .woman {
    background: none;
    padding: 0;
    margin:0;
  }
  .content {
    margin: 10px;
  }
}
@media screen and (min-width: 984px) {
  .content {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .woman {
    background-size: 610px 350px;
  }
  .content {
    width: 800px;
    height:300px;
  }
}

