.cart-icon {
  padding: 5px 10px;
  border: none;
  font-size: 22px;
  color: #fff;
  background-color: #8fd445;
  border-radius: 15px;
}

@media screen and (max-width: 550px) {
  .para p {
   font-size: 12px;
  }
  .cart-icon{
  font-size: 18px;
  }
}
